{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<ul class="messages">
    {% for message in messages %}
    <h3  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </h3>
    {% endfor %}
</ul>
   

<div id="add_post">
    <form action="{% url 'create_post' %}" method="POST" style="text-align: center;">
        {% csrf_token %}
        <div style="margin-right: 10px;"> <!-- Adjust margin-right as needed -->
            <textarea class="form-control" name="new-post" id="new-post" placeholder="Create a new post"></textarea>
        </div>
        <br>
        <input id="postButton" class="btn btn-primary" type="submit" value="Post">
    </form>
</div>



{% endblock %}

