{% extends "network/layout.html" %}
{% load static %}



{% block body %}





<div class="card">
    <div class="container">
        <input type="hidden" id="e" value={{profile_details.id}}>
       <h3 style= "text-align: center"><b>{{profile_details.username}}</b></h3> 
      <div style="clear: both">
      <h4 style="float: left"><b>Followers {{followers}}</b></h4> 
      <h4 style="float: right" ><b>Following {{following}}</b></h4> 
   
    </div>
    </div>
  </div>


  <br></br>
  <br></br>
  <br></br>
  <br></br>
  



{%  for p in all_posts  %}


<div id="view_all_post">   
    <div class="timeline">
        <div class="container left">
          <div class="content">
              <div style="clear: both">
              <h4 style="float: left">{{p.user.username}}</h4>
              <h6 style="float: right">Posted at: {{p.date_posted}}</h6>
            </div>
            <br><br>
            <textarea class="form-control" id={{p.id}}p readonly>{{p.title}}</textarea>
          </div>
          
          <div id = "like_buttons">
            <button class="vlike" id = {{p.id}}l>
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                
              </button>
              <label id=lbl{{p.id}}>{{p.likes}} </label>
    
              <button class="vdislike" id = {{p.id}}dl>
                <i class="fa fa-thumbs-o-down" aria-hidden="true"> </i>
               
              </button>
              <label id=lbd{{p.id}}>{{p.dislikes}} </label>
             
          </div>

          {%  if   p.user.id == current_user   %}

          <button class="edit" id="{{p.id}}e" value={{p.id}}>Edit Post</button>
          <button class="save" id={{p.id}}b style =display:none >Save</button>

          {%endif%}
      
        </div>

        
      </div>
</div>
<br></br>

{% endfor %}

<div class= "page-links" >
  <div class="pagination">

    {% if   all_posts.has_previous     %}
    <a href="{% url 'user_profle' %}?page={{ all_posts.previous_page_number }}"> Previous Page</a>
    {% endif %}

    {% if   all_posts.has_next     %}
    <a href="{% url 'user_profle' %}?page={{ all_posts.next_page_number }}"> Next Page</a>
    {% endif %}
  </div>
  
</div>




{% block scripts %}
<script src="{% static 'network/check.js' %}"></script>
<script src="{% static 'network/dislike.js' %}"></script>

{% endblock %}

{% endblock %}

